* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*phone*/
@media only screen and (max-width: 767px){
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url("https://i.ibb.co/jR8md2K/pngtree-dark-red-gold-dot-flat-language-background-material-red-backgroundgold-pointclose-image-7578.jpg");
        background-color: inherit;
        color: white;
        padding: 1px;
        font-size: 1px;
        font-family: 'Righteous', cursive;
    }
    .image-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
        grid-auto-rows: 20vh;
        grid-auto-columns: center;
        grid-gap: 20vh;
        padding: 10px;
    }
    .left-section {
        flex: 1;
        margin-left: 1vw;
    }
    .center-section {
        flex: 1;
        text-align: center;
    }
    .right-section {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1vw;
    }
    .center-section img {
        height: 7vw;
    }
    .left-section .instagram-link img {
        width: 5vw;
    }
    .center-buttons {
        padding-left: 35vw;
        top: -20vh;
        position: relative;
    }
    .left {
        float: left;
        margin-right: -30vw;
    }
    .right {
        float: right;
        margin-left: 17vw;
  }
}

/*desktop*/
@media only screen and (min-width: 768px){
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url("https://i.ibb.co/jR8md2K/pngtree-dark-red-gold-dot-flat-language-background-material-red-backgroundgold-pointclose-image-7578.jpg");
        background-color: inherit;
        color: white;
        padding: 1vw;
        font-size: 1.1vw;
        font-family: 'Righteous', cursive;
    }
    .image-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(9vw, 1fr));
        grid-auto-rows: 60vh;
        grid-auto-columns: center;
        grid-gap: 5vh;
        padding: 30px;
    }
    .left-section {
        flex: 1;
        margin-left: 1vw;
    }
    .center-section {
        flex: 1;
        text-align: center;
    }
    .right-section {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1vw;
    }
    .center-section img {
        height: 5vw;
    }
    .left-section .instagram-link img {
        width: 3vw;
    }
    .center-buttons {
        padding-left: 35vw;
        top: -60vh;
        position: relative;
    }
    .left {
        float: left;
        margin-right: 10px;
    }
    .right {
        float: right;
        margin-left: 10px;
  }
}

.body-container {
    color: white;
    text-shadow: 2px 2px 4px black;
    padding:50px 15vw 10vh 15vw;
}

.left-section .instagram-link {
    display: flex;
    align-items: center;
}
  
.left-section .instagram-link a {
    text-decoration: none;
    color: white;
}
  
.left-section .instagram-link a:hover {
    text-decoration: underline;
}

.gif {
    display: block;
    margin: 0 auto;
}
  
.centergif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.center {
      text-align: center;
}
  
.right-section ul {
    list-style: none;
}
  
  
.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.slideInLeft {
	animation-name: slideInLeft;
}
  
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        visibility: visible;
    }
    100% {
        transform: translateX(0%);
    }
}

.slideInRight {
	animation-name: slideInRight;
}


@keyframes slideInRight {
	0% {
		transform: translateX(100%);
		visibility: visible;
	}
	100% {
		transform: translateX(0%);
	}
}

.fly-in {
    animation-name: fly-in;
}

@keyframes fly-in {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }